body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;
    font-family : poppins , sans-serif;
}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display{
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
}
.buttons{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(4 , 1fr);
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}
.buttons button:hover{
    background-color: #b0b0b0;
}